<% include ./parts/head.ejs %>
<% include ./parts/nav.ejs %>
<% include ./parts/pebblebar.ejs %>

<h1>Home:</h1>

<script>
    
    // home_client pebble app
    var pebbleApp = (function(){
       
        // client data that goes to the server
        var clientData = {
            
            plugin : 'home'
        
        };
        
        // public API
        return {
        
            // pebble app needs access to this
            clientData : clientData,
            
            // before POST
            before : function(){
                
                
            },
            
            // after POST
            after : function(response){
             
                console.log('home client after:');
                console.log(response);
                
            }
            
            
            
        }
        
    }());
                                                
</script>