<% include ./parts/head.ejs %>
<% include ./parts/nav.ejs %>
<% include ./parts/pebblebar.ejs %>

<!-- reserve.ejs ( not including above .ejs includes ) -->

<h1>The Reserve: </h1>

<div id="reserve_state">
</div>

<div>
    <h3>Take a pebble:</h3>
    <p>requesting: <span id="reserve_requesting">0</span></p>
    <input id="reserve_takeapebble" type="button" value="take a pebble">
</div>

<script>

    // reserve_client pebble app
    var pebbleApp = (function(){
       
        // client data that goes to the server
        /*
        var clientData = {
            
            plugin : 'reserve',
            requested : 0
            
        },
        */
        
        var clientData = [
            
            
            {
                
                plugin : 'reserve_info'
            
            }
            
            /*
            {
                
                plugin : 'reserve_take'
            
            }
            */
        ],
        
        /*
        var clientData = [
        
            
            {
                plugin : 'reserve',
                requested : 0
                
            }
            
            
        ],
        */
            
        
            
        reserve = {},
            
        requesting = 0;
        
        // public API
        return {
        
            // pebble app needs access to this
            clientData : clientData,
            
            // before POST
            before : function(){
                
                this.clientData = [{
                    
                    plugin : 'reserve_info'
                    
                }];
                
                
                if(requesting > 0){
                
                    this.clientData.push({
                        plugin : 'reserve_take',
                        requested : requesting
                        
                        
                    });
                    
                    requesting = 0;
                    
                    console.log('lagging why?');
                    
                }
                
                //clientData.requested = requesting;
                requesting = 0;
                
                // update view
                this.drawTake();
                
            },
            
            // after POST
            after : function(response){
                
                console.log(response);
                
                //clientData.requested = 0;
                
                reserve = response.response[0].reserve;
                
                this.drawReserve();
                
            },
            
            // what to do when the take button is pressed
            take : function(){
                
                requesting += 1;
                
            },
            
            // update view.
            drawTake : function(){
                
                // update view
                document.getElementById('reserve_requesting').innerHTML = requesting;

            },
            
            drawReserve : function(){
                
                var html = '<table>',
                    noShow = ['_id','__v', 'id', 'lastCollection','brackets'],
                    
                    
                    prop;
                
                resProps: for(prop in reserve){
                    
                    var i = 0, len = noShow.length;
                    while(i < len){
                        
                        if(prop === noShow[i]){
                            
                            continue resProps;
                        }
                        
                        i++;
                    }
                    
                    html += '<tr><td>'+prop+'<\/td><td>'+reserve[prop]+'<\/td><\/tr>';
                    
                }
                
                
                document.getElementById('reserve_state').innerHTML = html+'<\/table>';

            }
            
        }
        
    }());

// attach to button
document.getElementById('reserve_takeapebble').addEventListener('click', function(){
   
    
    // call take
    pebbleApp.take();

    // view
    pebbleApp.drawTake();

});
    
</script>

<!-- end reserve.ejs (not including below ejs includes) -->

<% include ./parts/foot.ejs %>