<% include ./parts/head.ejs %>
<% include ./parts/nav.ejs %>
<% include ./parts/pebblebar.ejs %>

<h1> Your Shops: </h1>

    <input id="shops_startshop" type="button" value="start shop">
    <div id="shops_usershops">
    </div>

<h1> Shop List: </h1>

<!-- page interface -->
<p>
    <input id="shops_backbutton" type="button" value="&#60;"> 
    page <span id="shops_pagenum">1</span> 
    of <span id="shops_maxpage">0</span> 
    <input id="shops_forwardbutton" type="button" value="&#62;">
</p>

<!-- shop list -->
<div id="shops_shoplist">
</div>


<script>

    
    //pebbleBar.addApp('foo');
    
</script>


<script>

    
    var pebbleApp = (function(){
        
        var clientData = [
            
            {
                plugin : 'shops_getshoppage',
                shopPage : 0
                
            },        
            {
                plugin : 'shops_getusershops'
                
            },
            {
                plugin : 'shops_newshopcheck',
                newShop : false
                
            },
            {
                plugin : 'shops_buyweight',
                pebble : 0,
                buyWeight : {}
                
            }
        
        ],
          
        // draw methods
        // ALERT! we will need methods that will ba called once, on top of these.
        draw = {
            
            shops_getshoppage : function(res){},
            shops_getusershops : function(res){
                
                var userShops = res.userShops,
                    s = 0, len = userShops.length, html='',
                    container = document.getElementById('shops_usershops');
                
                while(s < len){
                    
                    if(!document.getElementById('shops_usershop_' + userShops[s].id)){
                    
                        html = '<div id="shops_usershop_' + userShops[s].id +'" style="margin:10px; padding:5px; background: #00af00;">'+
                        ' <p> shop name: ' + userShops[s].shopName + 
                        '; shop id: ' + userShops[s].id + 
                        '; weight: ' + userShops[s].weight + '<\/p>' + 
                        '<input id="shops_buyweight_'+userShops[s].id+'" type="text" ><input  type="button" value="buy weight" onclick="pebbleApp.buyWeight('+userShops[s].id+')">' +
                        '<\/div>';
                    
                        
                        // draw the shops list
                        container.innerHTML += html;
                    }
                       
                    s++;
                }
                
                
            },
            shops_newshopcheck : function(res){},
            shops_buyweight : function(res){}
            
        };
       
        return {
            
            clientData : clientData,
            
            before : function(){
                
                
            },
            
            after : function(res){
                
                var i=0, len = res.response.length
                while(i < len){
                    
                    console.log(res.response[i].responderPlugin);
                    
                    // call draw method for the plugin
                    draw[res.response[i].responderPlugin](res.response[i]);
                    
                    i++;
                    
                }
                
            },
            
            // draw the users shops
            drawUserShops : function(userShops){
            
            
                var s = 0, len = userShops.length, html='',
                    container = document.getElementById('shops_usershops');
                
                while(s < len){
                    
                    if(!document.getElementById('shops_usershop_' + userShops[s].id)){
                    
                        html = '<div id="shops_usershop_' + userShops[s].id +'" style="margin:10px; padding:5px; background: #00af00;">'+
                        ' <p> shop name: ' + userShops[s].shopName + 
                        '; shop id: ' + userShops[s].id + 
                        '; weight: ' + userShops[s].weight + '<\/p>' + 
                        '<input id="shops_buyweight_'+userShops[s].id+'" type="text" ><input  type="button" value="buy weight" onclick="pebbleApp.buyWeight('+userShops[s].id+')">' +
                        '<\/div>';
                    
                        
                        // draw the shops list
                        container.innerHTML += html;
                    }
                       
                    s++;
                }
                
                
                
                
            }
            
        };
        
    }());
    
    // shops_client pebble app
    /*
    var pebbleApp = (function(){
       
        // client data that goes to the server
        var clientData = {
            
            plugin : 'shops',
            shopPage : 0,
            newShop : false,
            buyWeight : {},
            buyItems : []
        },
            
        maxPage = 1,
        userShops = [],
        shopList = [];
        
        // public API
        return {
        
            // pebble app needs access to this
            clientData : clientData,
            
            // before POST
            before : function(){
                
                
            },
            
            // after POST
            after : function(response){
             
                console.log('response from server:');
                console.log(response);
                
                userShops = response.userShops === undefined ? [] : response.userShops ;
                shopList = response.shopPage;
                maxPage = response.maxPage;
             
                clientData.newShop = false;
                clientData.buyWeight = {};
                
                clientData.buyItems = [];
                
                this.drawShoplist();
                this.drawUserShops();
                this.drawInterface();
            },
            
            // buy weight for a store of the given id
            buyWeight : function(id){
                
              console.log('buying weight');
                
              var pebble = document.getElementById('shops_buyweight_'+id).value; 
                
                // weight is a number
                pebble = Number(pebble);
                
                // isNaN? weight = 0;
                if(isNaN(pebble)){
                    
                    weight = 0;
                }
                
                // no negative
                if(pebble < 0){
                    
                    pebble = 0;
                    
                }
                
                clientData.buyWeight = {
                    id: id,
                    pebble : pebble
                    
                };
                
            },
            
            // the buy item function.
            buyItem : function(shopId, itemId){
                
                // push to the buy items array.
                clientData.buyItems.push({
                    shopId : shopId,
                    itemId : itemId
                });
                
                console.log('buy items: ');
                console.log(clientData.buyItems);
                
            },
            
            // draw sale items for a shop listing
            drawSaleItems : function(shop, forSaleData){
                
                var html = '';
                
                forSaleData.forEach(function(itemData){
                    
                    html += '<p>' + itemData.productName + ' : cost: ' + itemData.pebbleCost + ' pebble. '+
                    '<input type="button" value="buy" onclick="pebbleApp.buyItem(\''+shop.id+'\',\''+itemData._id+'\');"><\/p>';
                    
                    
                });
                
                
                return html;
                
            },
            
            // draw the current list of shops
            drawShoplist : function(){
                
                var i = 0, len = shopList.length, html='<div> shop page: ' + clientData.shopPage;
                
                
                while(i < len){
                    
                    html += '<div class=\"shop_listing\"> <p> shop name: ' + shopList[i].shopName + 
                        '; owner: ' + shopList[i].shopOwner +
                        '; shop id: ' + shopList[i].id + 
                        '; weight: ' + shopList[i].weight + 
                        '; <\/p> '+
                        '<div>'+
                        ' for Sale: <br>' + this.drawSaleItems(shopList[i], shopList[i].forSale) +
                        '<\/div>'+
                        '<\/div>';
                    
                    i++;
                }
                
                // draw the shops list
                document.getElementById('shops_shoplist').innerHTML = html + '<\/div>';
                
            },
            
            
            
            // draw the users shops
            drawUserShops : function(){
            
            
                var s = 0, len = userShops.length, html='',
                    container = document.getElementById('shops_usershops');
                
                while(s < len){
                    
                    if(!document.getElementById('shops_usershop_' + userShops[s].id)){
                    
                        html = '<div id="shops_usershop_' + userShops[s].id +'" style="margin:10px; padding:5px; background: #00af00;">'+
                        ' <p> shop name: ' + userShops[s].shopName + 
                        '; shop id: ' + userShops[s].id + 
                        '; weight: ' + userShops[s].weight + '<\/p>' + 
                        '<input id="shops_buyweight_'+userShops[s].id+'" type="text" ><input  type="button" value="buy weight" onclick="pebbleApp.buyWeight('+userShops[s].id+')">' +
                        '<\/div>';
                    
                        
                        // draw the shops list
                        container.innerHTML += html;
                    }
                       
                    s++;
                }
                
                
                
                
            },
            
            // draw page interface
            drawInterface : function(){
            
                document.getElementById('shops_pagenum').innerHTML = clientData.shopPage;
                document.getElementById('shops_maxpage').innerHTML = maxPage;
            
            },
            
            // nav
            nav : function(forward){
                
                forward = forward === undefined ? false : true;
                
                if(forward){
                    
                    clientData.shopPage += 1;
                    
                
                    if(clientData.shopPage > maxPage -1){
                        
                        clientData.shopPage = maxPage;
                        
                    }
                    
                }else{
                    
                    clientData.shopPage -= 1;
                    
                    if(clientData.shopPage < 0){
                        
                        clientData.shopPage = 0;
                        
                    }
                    
                }
                
            },
            
            // tell the server you want a new shop
            startShop : function(){
                
                clientData.newShop = true;
                
            }
            
        };
        
    }());

    // attach to nav buttons
    document.getElementById('shops_forwardbutton').addEventListener('click', function(e){
        
        pebbleApp.nav(true);
        
    });
    document.getElementById('shops_backbutton').addEventListener('click', function(e){
        
        pebbleApp.nav();
        
    });
    
    // start a shop button
    document.getElementById('shops_startshop').addEventListener('click', function(e){
        
        pebbleApp.startShop();
        
    });
    
    */
</script>

</body>
</html>