<!DOCTYPE html>
<html>

<head>

    <title>Pebble</title>
    <meta charset="utf-8">

</head>

<body>
    
    <h1>Pebble</h1>
    
    <p> <%= user.username %> (<a href="/logout">logout</a>) pebbles: <span id="disp_wallet"><%= user.wallet %></span> </p>
    <p>requesting: <span id="disp_requesting">0</span></p>
    <ul>
        
        <li>The Reserve: <ul>
            <li>reserve's wallet : <span><%= reserve.wallet %></span> </li>
        </ul></li>
    </ul>
    
    <input id="button_getpebble" type="button" value = "take a pebble" >
    
    
    <script src="/js/jquery-1.12.2.min.js"></script>
    <script>
    
        /*
    $('#button_getpebble').on( 'click', function(){
        
        console.log('getting pebble');
        
        $.post('/', {action: 'take', amount:1},function(data){
        
            console.log(data);
            
            $('#disp_wallet').text(JSON.parse(data).amount);
        
        });
        
    });
    
    */
    
    var requesting = 0;
        
    $('#button_getpebble').on( 'click', function(){
        
        requesting += 1;
        
        console.log(requesting);
        
        $('#disp_requesting').text(requesting);
        
    });
        
    var dialHome = function(){
        
        setTimeout(dialHome, 10000);
        
        var requested = requesting;
        requesting = 0;
        
        $('#disp_requesting').text(requesting);
        
        $.post('/', {action: 'check', requesting: requested},function(data){
        
            console.log(data);
            
            $('#disp_wallet').text(JSON.parse(data).userWallet);
        
        });
        
    };
    dialHome();
        
    
    </script>
    
</body>

</html>