<% include ./ejs/part_head.ejs %>

<body>

    <!-- angular -->
    <script src="/js/angular.js"></script>

    <!-- ui bootstrap -->
    <script src="/js/ui-bootstrap-tpls-1.2.5.min.js"></script>

    <% include ./ejs/part_nav.ejs %>
    
    <div class="main_container">
        
    <% include ./ejs/part_pebblebar.ejs %>
    
    <% include ./ejs/part_root_client.ejs %>
        
        
    </div>
    
</body>

</html>