<% include ./ejs/part_head.ejs %>

<body>

    

    <!-- angular -->
    <script src="/js/angular.js"></script>

    <!-- ui bootstrap -->
    <script src="/js/ui-bootstrap-tpls-1.2.5.min.js"></script>

    <% include ./ejs/part_nav.ejs %> 
    
    
</body>
</html>