<% include ./ejs/part_head.ejs %>

    <body>



        <!-- angular -->
        <script src="/js/angular.js"></script>

        <!-- ui bootstrap -->
        <script src="/js/ui-bootstrap-tpls-1.2.5.min.js"></script>

        <!-- ReserveClient, this is what will be looked at by pebble bar -->
        <script>
            // ALERT! there should be a way to make this part of the angular app.
            /*
            var ReserveClient = {
                
                requested : 0,
                take : function(){
                    
                    this.requested += 1;
                    
                },
                
                // reser requetsed back to zero, and update the view
                reset : function(n){
                    
                    this.requested = 0;
                    
                    // ALERT! sloppy very sloppy, why do i do stuff like this when I know better?
                    var view = document.getElementById('reserveclient_disp');
                    if(view){
                    
                        view.innerHTML = this.requested;
                    
                    }
                }
                
            };
              
              */
        </script>


        <% include ./ejs/part_nav.ejs %>

            <div class="main_container">


                <% include ./ejs/part_pebblebar.ejs %>

                    <h2>The Reserve: </h2>

                    <!-- angular client html for reserve path -->
                    <div id="reserve_client_div" ng-controller="control">

                        <ul>

                            <li> world total: {{ reserve.worldTotal }} </li>
                            <li> reserve wallet: {{ reserve.wallet }} </li>
                            <li> world population: {{ reserve.population }} </li>
                            <li> equal share: {{ reserve.equalShare }} </li>
                            <li> Tax Brackets: {{ reserve.brackets }}</li>
                            <li> Last tax collection: {{ reserve.lastCollection }} </li>

                        </ul>



                    </div>

                    <h2>Request Pebbles</h2>
                    <p> requested: <span id="reserveclient_disp">0</span></p>
                    <input id="reserveclient_take" type="button" value="take a pebble">

                    <script>
                        
                        // reserve client
                        (function () {

                            var app = angular.module('reserve_client', []);

                            app.controller('control', function ($scope) {

                                $scope.reserve = {};
                                $scope.requesting = 0;
                                
                                console.log('well');
                                
                                pebbleBar.addPlugin({

                                    pluginName: 'reserveClient',

                                    scope : $scope

                                });
                                
                            });

                            angular.bootstrap(document.getElementById('reserve_client_div'), ['reserve_client']);

                            

                        }());
                    </script>


                    <!-- ReserveClient Evenets -->
                    <script>
                        /*
                                            document.getElementById('reserveclient_take').addEventListener('click', function(e){
                                                
                                                ReserveClient.take();
                                                document.getElementById('reserveclient_disp').innerHTML = ReserveClient.requested;
                                                
                                            });
                                            
                                            */
                    </script>


                    <!-- angular app that just displays stuff -->
                    <script>
                        // angular client for the reserve path

                        /*
                        var app = angular.module('reserve_client', []);

                        app.controller('control', function ($http, $scope) {

                            // the reserve data
                            $scope.reserve = {};


                            // make the post
                            
                            $http({
                                method: 'POST'
                                , url: '/reserve'
                                , data: {
                                    action: 'getReserve'
                                }

                            }).then(function (response) {

                                // success callback



                                $scope.reserve = response.data;
                                
                                


                            }, function (response) {

                                // error callback

                            });

                        });

                        angular.bootstrap(document.getElementById('reserve_client_div'), ['reserve_client']);
                        */
                    </script>

            </div>

    </body>

    </html>