<% include ./ejs/part_head.ejs %>

    <body>

        <!-- angular -->
        <script src="/js/angular.js"></script>

        <!-- ui bootstrap -->
        <script src="/js/ui-bootstrap-tpls-1.2.5.min.js"></script>

        <% include ./ejs/part_nav.ejs %>

            <div class="main_container">

                <% include ./ejs/part_pebblebar.ejs %>

                <h2>Start a Shop:</h2>
                
                    <div id="shops_client_div" ng-controller="control">
                        
                        <input type="button" value="buy a shop" ng-click="buyShop()">
                        
                        <div id="shops">
                            
                            <p>Whats goinf on?</p>
                            
                        </div>
                        
                    </div>

                    <script>
                        
                        // the pebbleApp for the shops path
                        var pebbleApp = (function () {

                            var app = angular.module('shops_client', []),

                                angularEL = document.getElementById('shops_client_div'),

                                clientData = {
                                    
                                    pebbleAppName: 'shops_client',
                                    newShop : false,
                                    shopPage: 0
                                    
                                };

                            app.controller('control', function ($scope) {

                                $scope.buyShop = function(){
                                  
                                    clientData.newShop = true;
                                    
                                };

                            });

                            angular.bootstrap(angularEL, ['shops_client']);

                            // standard API for a pebbleApp
                            return {

                                // the client data should be public to pebblebar
                                clientData: clientData,

                                // what to do before a post
                                before: function () {

                                    //angular.element(angularEL).scope().requesting = 0;
                                    //angular.element(angularEL).scope().$apply();

                                },

                                // what to do with the response from the server
                                after: function (response) {

                                    console.log( response.shopPage );
                                    clientData.newShop = false;

                                    
                                    
                                    // ALERT! learn how to do this with angular
                                    var html = '', i = 0, len = response.shopPage.length;
                                    
                                    while(i < len){
                                        
                                        console.log(response.shopPage[i]);
                                        
                                        html += '<p>' + response.shopPage[i].id + '<\/p>';
                                        
                                        i++;
                                    }
                                    
                                    document.getElementById('shops').innerHTML = '<p>ll</\p>' + html;
                                    
                                }

                            }

                        }());
                    </script>

            </div>

    </body>

    </html>