<!-- ALERT! this should be styled better! -->
<span id="app_pebblebar" ng-controller="pebblecheck" style="color:#000000;"> <%= user.username %> (<a href="/logout">logout</a>), pebbles: {{ userdata.wallet }} </span>


<script>
    
    var pebbleBar = (function () {

        var app = angular.module('pebblebar', []),
            plugins = [];

        app.controller('pebblecheck', function ($scope, $http) {

            $scope.userdata = {

                wallet: 0

            }

            var pebbleCheck = function () {

                setTimeout(pebbleCheck, 5000);
                
                
                // look for the current pebbleApp
                if(window.pebbleApp){
                    
                    console.log('we\'ve got one!');
                    
                    pebbleApp.before();
                    
                }
                
                // make the post
                $http({
                    method: 'POST'
                    , url: '/'
                    , data: {
                        action: 'pebblebar',
                        clientData : window.pebbleApp ? window.pebbleApp.clientData : {}
                    }

                }).then(function (response) {

                    // success callback
                    $scope.userdata = response.data.userData;

                    console.log('pebblebar server response!');
                    
                    // look for the current pebbleApp
                   if(window.pebbleApp){
                
                       pebbleApp.after(response.data)
                       
                   }
                 
                    
                }, function (response) {

                    // error callback

                });

            };

            
            window.addEventListener('load', function(){
                
                pebbleCheck();
            
                
            });
            
            
            

        });

        // manual bootstrap (ng-app can only be used once)
        angular.bootstrap(document.getElementById('app_pebblebar'), ['pebblebar']);

        // public API
        return {
                
                // add a plugin to pebblebar
                addPlugin : function(plugin){
                    
                    plugins.push(plugin);
                    
                }
                
            }
        
    }());
    
</script>