<!-- nav app -->
    <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container" ng-controller="collapse">
            
            <div class="navbar-header">
                
	            <button type="button" class="navbar-toggle" ng-click="toggle()">
                
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                
                </button>
                <span class="navbar-brand">Pebble</span>
                
            </div>
            
	        <div uib-collapse="isCollapsed">
                
                <%
                   // find active path
                
                    var paths = ['/','/reserve'], active = [], i = 0, len = paths.length;
                
                    while(i < len){
                        
                        active[i] = '';
                        
                        if(req.path === paths[i]){
                            
                            active[i] = 'active';
                            
                        }
                        
                        i++;
                    }
                
                %>
                
                <ul class="nav navbar-nav">
                    
                    <li class=" <%=  active[0] %> "><a href="/">Home</a></li>
                    <li class=" <%=  active[1] %> "><a href="/reserve">The Reserve</a></li>
                   
                </ul>
                
	        </div>
            
        </div>
        
    </nav>

<script>
        
        // ui bootstrap nav app        
        (function(){
      
            var nav = angular.module('uibootstrap_nav', ['ui.bootstrap']);        
            
            nav.controller('collapse', function ($scope) {
            
                $scope.isCollapsed = true;
                
                $scope.toggle = function(){
                    
                    
                    
                    $scope.isCollapsed = !$scope.isCollapsed;
                    
                    console.log($scope.isCollapsed);
                }
                
            });
            
            // manual bootstrap (ng-app can only be used once)
            angular.bootstrap(document.getElementById('navbar'), ['uibootstrap_nav']);
            
            
        }());
        
        
    </script>