<!DOCTYPE html>
<html>

<head>

    <title>Pebble</title>
    <meta charset="utf-8">

    <!-- bootstraps css -->
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/css/bootstrap_pebble.min.css">

    <style>
        .userpebbles {
            border-top: 3px solid #000000;
            border-right: 3px solid #000000;
            background: rgba(0, 0, 0, 0.2);
            padding: 20px;
        }
        
        .reservepebbles {
            border-top: 3px solid #000000;
            border-left: 3px solid #000000;
            padding: 20px;
        }
        
        .main_container{
            
            margin-top:100px;
            
        }
    </style>

</head>