<!-- ALERT! this should be styled better! -->
<span id="app_pebblebar" ng-controller="pebblecheck" style="color:#000000;"> <%= user.username %> (<a href="/logout">logout</a>), pebbles: {{ userdata.wallet }} </span>


<script>
    
    (function(){
        
        var app = angular.module('pebblebar', []);
        
            app.controller('pebblecheck', function ($scope,$http) {
            
                $scope.userdata = {
                    
                    wallet : 0
                    
                }
                
                
                var userCheck = function(){
                
                    setTimeout(userCheck, 10000);
                    
                    
                    var action = 'usercheck',
                        requested = 0;
                    
                    if(window.ReserveClient){
                        
                        console.log('reserve client found!');
                        console.log(ReserveClient.requested);
                        
                        requested = ReserveClient.requested;
                        
                        if(requested > 0){
                        
                            action = 'take';
                        
                        
                            ReserveClient.reset();
                        
                        }
                        
                        
                    }
                    
                    
                    console.log(action)
                    
                    // make the post
                    $http({
                        method: 'POST'
                        , url: '/'
                        , data: {
                            action: action,
                            amount:requested
                        }

                    }).then(function (response) {

                        // success callback

                        console.log(response.data);

                        $scope.userdata = response.data;

                    }, function (response) {

                        // error callback

                    });
                    
                };
                
                userCheck();
                
            });
            
            // manual bootstrap (ng-app can only be used once)
            angular.bootstrap(document.getElementById('app_pebblebar'), ['pebblebar']);
        
    }());
    
</script>