<% include ./parts/part_head.ejs %>

    <body>

        <!-- angular -->
        <script src="/js/angular.js"></script>

        <!-- ui bootstrap -->
        <script src="/js/ui-bootstrap-tpls-1.2.5.min.js"></script>

        <% include ./parts/part_nav.ejs %>

            <div class="main_container">

                <% include ./parts/part_pebblebar.ejs %>

                <h2>Start a Shop:</h2>
                
                    <div id="shops_client_div" ng-controller="control">
                        
                        <input type="button" value="buy a shop" ng-click="buyShop()">
                        
                        <div id="shops" ng-bind="theShops">
                            
                        </div>
                        
                    </div>

                    <script>
                        
                        // the pebbleApp for the shops path
                        var pebbleApp = (function () {

                            var app = angular.module('shops_client', []),

                                angularEL = document.getElementById('shops_client_div'),

                                clientData = {
                                    
                                    pebbleAppName: 'shops_client',
                                    newShop : false,
                                    shopPage: 0
                                    
                                };

                            app.controller('control', function ($scope) {

                                $scope.buyShop = function(){
                                  
                                    clientData.newShop = true;
                                    
                                };
                                $scope.test = 'change';
                                $scope.theShops = ['something', 'okay'];

                            });
                            
                            app.directive('shoplist', function(){
                                
                                return {
                                    
                                    template : 'theShops: {{ theShops }}'
                                    
                                }
                                
                                
                            });
                            
                            angular.bootstrap(angularEL, ['shops_client']);

                            // standard API for a pebbleApp
                            return {

                                // the client data should be public to pebblebar
                                clientData: clientData,

                                // what to do before a post
                                before: function () {

                                    
                                },

                                // what to do with the response from the server
                                after: function (response) {

                                    console.log( response.shopPage );
                                    clientData.newShop = false;

                                    angular.element(angularEL).scope().theShops = JSON.stringify(response.shopPage);
                                    angular.element(angularEL).scope().$apply();
                                    
                                    
                                }

                            }

                        }());
                    </script>

            </div>

    </body>

    </html>