<% include ./parts/head.ejs %>
<% include ./parts/nav.ejs %>
<% include ./parts/pebblebar.ejs %>


<h1>The Reserve: </h1>

<div id="reserve_state">
</div>

<div>
    <h3>Take a pebble:</h3>
    <p>requesting: <span id="reserve_requesting">0</span></p>
    <input id="reserve_takeapebble" type="button" value="take a pebble">
</div>

<script>

    // reserve_client pebble app
    var pebbleApp = (function(){
       
        // client data that goes to the server
        var clientData = {
            
            pebbleAppName : 'reserve_client',
            requested : 0
            
        },
            
        reserve = {},
            
        requesting = 0;
        
        // public API
        return {
        
            // pebble app needs access to this
            clientData : clientData,
            
            // before POST
            before : function(){
                
                clientData.requested = requesting;
                requesting = 0;
                
                // update view
                this.drawTake();
                
            },
            
            // after POST
            after : function(response){
                
                clientData.requested = 0;
                      
                console.log(response);
                
                reserve = response.reserve;
                
                this.drawReserve();
                
            },
            
            // what to do when the take button is pressed
            take : function(){
                
                requesting += 1;
                
            },
            
            // update view.
            drawTake : function(){
                
                // update view
                document.getElementById('reserve_requesting').innerHTML = requesting;

            },
            
            drawReserve : function(){
                
                var html = '<table>',
                    noShow = ['_id','_v', 'id'],
                    prop;
                
                for(prop in reserve){
                    
                    html += '<tr><td>'+prop+'<\/td><td>'+reserve[prop]+'<\/td><\/tr>';
                    
                }
                
                
                document.getElementById('reserve_state').innerHTML = html+'<\/table>';

            }
            
        }
        
    }());

// attach to button
document.getElementById('reserve_takeapebble').addEventListener('click', function(){
   
    console.log('okay');
    
    // call take
    pebbleApp.take();

    // view
    pebbleApp.drawTake();

});
    
</script>


<script>

// call this the js console to post to dirrectly post to server
    
// ex : postIt({action: 'foo'});
var postIt = function(data, done){
        
            // new xhr
            var http = new XMLHttpRequest();
    
            done = done === undefined ? function(){} : done;
            
            // open a post
            http.open('POST', '/');
            
            //Send the proper header information along with the request
            http.setRequestHeader("Content-type", "application/json");
            
            // what to do on state change
            http.onreadystatechange = function(){
              
                //console.log(this.readyState + ' : ' + this.response);
                
                if(this.readyState === 4){
                
                    
                    console.log(this.response);
                    
                    done(JSON.parse(this.response));
                
                }
                
            };
            
            // send it out
            http.send(JSON.stringify(data));
            
            return 'sent post...';
    
        };
    
</script>