<% include ./parts/head.ejs %>
<% include ./parts/nav.ejs %>
<% include ./parts/pebblebar.ejs %>

<h1> Your Shops: </h1>

<h1> Shop List: </h1>

<!-- page interface -->
<p>
    <input id="shops_backbutton" type="button" value="&#60;"> 
    page <span id="shops_pagenum">1</span> 
    of <span id="shops_maxpage">0</span> 
    <input id="shops_forwardbutton" type="button" value="&#62;">
</p>

<!-- shop list -->
<div id="shops_shoplist">
</div>

<script>

    // shops_client pebble app
    var pebbleApp = (function(){
       
        // client data that goes to the server
        var clientData = {
            
            pebbleAppName : 'shops_client',
            shopPage : 0,
            newShop : true
        },
            
        maxPage = 1,
        shopList = [];
        
        // public API
        return {
        
            // pebble app needs access to this
            clientData : clientData,
            
            // before POST
            before : function(){
                
                
            },
            
            // after POST
            after : function(response){
             
                console.log(response);
                
                shopList = response.shopPage;
                maxPage = response.maxPage;
                
                clientData.newShop = false;
                
                this.drawShoplist();
                this.drawInterface();
            },
            
            // draw the current list of shops
            drawShoplist : function(){
                
                var i = 0, len = shopList.length, html='<div> shop page: ' + clientData.shopPage;
                
                
                while(i < len){
                    
                    html += '<div> <p> shop name: ' + shopList[i].shopName + 
                        '; shop id: ' + shopList[i].id + 
                        '; weight: ' + shopList[i].weight + 
                        '; <\/p> <\/div>';
                    
                    i++;
                }
                
                // draw the shops list
                document.getElementById('shops_shoplist').innerHTML = html + '<\/div>';
                
            },
            
            // draw page interface
            drawInterface : function(){
            
                document.getElementById('shops_pagenum').innerHTML = clientData.shopPage;
                document.getElementById('shops_maxpage').innerHTML = maxPage;
            
            },
            
            // nav
            nav : function(forward){
                
                forward = forward === undefined ? false : true;
                
                if(forward){
                    
                    clientData.shopPage += 1;
                    
                
                    if(clientData.shopPage > maxPage -1){
                        
                        clientData.shopPage = maxPage;
                        
                    }
                    
                }else{
                    
                    clientData.shopPage -= 1;
                    
                    if(clientData.shopPage < 0){
                        
                        clientData.shopPage = 0;
                        
                    }
                    
                }
                
            }
            
        }
        
    }());

    // attach to nav buttons
    document.getElementById('shops_forwardbutton').addEventListener('click', function(e){
        
        pebbleApp.nav(true);
        
    });
    document.getElementById('shops_backbutton').addEventListener('click', function(e){
        
        pebbleApp.nav();
        
    });
    
</script>